<div id="bloque1">
    <h3>{{titulo}}</h3>

    

    <ul>
        <li *ngFor="let user of users" (click)="onSelected(user)"> <!--ngFor recorrerá cada uno de los elementos de nuestro Array-->
            {{user.name}}

        </li>
        
            
    </ul>

    <div [ngSwitch]="selection">
        <div class="block" *ngSwitchCase="users[0]">Pulsa algun ee: {{selection}}</div>
        <div class="block" *ngSwitchCase="users[1]">Estas mostrando: {{selection}}</div>
        <div class="block" *ngSwitchCase="users[2]">Estas mostrando: {{selection}}</div>
        <div class="block" *ngSwitchDefault>Estas mostrando: {{selection}}</div>
    </div>

    
</div>

