doctype
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  h2 Esta página es un
    p ejemplo para mostrar como
  br
  br
  h3 es trabajar con Jade en vez de con HTML(html es mejor) 

  br
  br 
  a(href="/") INICIO
  