doctype html
html
head
  title= title
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
body  

  header
      .overlay
        h1 La mejor pagina web de Jade
        

block content



  

  a(href="http://www.jimcwebs.com", target="_blank") ir a otra web
  br
  br

  a(href="http://localhost:3000/ejem") Página EJEMPLO
  br
  br
  a(href="http://localhost:3000/lista_jugadores") Ejemplo de lista bonita
  br
  br
  a(href="http://localhost:3000/env_mensaje") FORMULARIO de contacto
  br 
  br
  a(href="http://localhost:3000/pagina2") Página 2
  br 
  br
  a(href="https://twitter.com/") Twitter

footer
  p
    | Autor: Alvaro Torres
    br
    a(href='alvaro.to.cia@gmail.com') alvaro.to.cia@gmail.com

  

