html
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/hoja1.css')
  body
    nav.tree-nav
      a.tree-nav__item-title
        i.icon.ion-scissors
        |     THE INHERITANCE
      a.tree-nav__item-title
        i.icon.ion-android-star
        |     The Willful Princess and the Piebald Prince
      details.tree-nav__item.is-expandable
        summary.tree-nav__item-title The Realm of the Elderlings
        details.tree-nav__item.is-expandable
          summary.tree-nav__item-title The Six Duchies
          details.tree-nav__item.is-expandable
            summary.tree-nav__item-title The Farseer Trilogy
            .tree-nav__item
              table(style='width:100%')
                tbody
                  tr
                    th IP Address
                    th Object Name
                    th Domain Name
                    th Object Class
                    th Status
                    th Mac Address
                  tr
                    td Jill
                    td Smith
                    td 50
                  tr
                    td Eve
                    td Jackson
                    td 94
                  tr
                    td John
                    td Doe
                    td 80
          details.tree-nav__item.is-expandable
            summary.tree-nav__item-title The Tawny Man Trilogy
            .tree-nav__item
              a.tree-nav__item-title
                i.icon.ion-cube
                |  FOOL'S ERRAND
              a.tree-nav__item-title
                i.icon.ion-ios-book
                |  GOLDEN FOOL
              a.tree-nav__item-title
                i.icon.ion-ios-bookmarks
                |  FOOL'S FATE
          details.tree-nav__item.is-expandable
            summary.tree-nav__item-title The Fitz and the Fool Trilogy
            .tree-nav__item
              a.tree-nav__item-title
                i.icon.ion-ios-bookmarks
                |  FOOL'S ASSASSIN
              a.tree-nav__item-title
                i.icon.ion-ios-book
                |  FOOL'S QUEST
              a.tree-nav__item-title
                i.icon.ion-android-bookmark
                |  Assassin's Fate
      details.tree-nav__item.is-expandable
        summary.tree-nav__item-title The Soldier Son trilogy
        .tree-nav__item
          a.tree-nav__item-title
            i.icon.ion-edit
            |  SHAMAN'S CROSSING
          a.tree-nav__item-title
            i.icon.ion-paperclip
            |  FOREST MAGE
