<h1>
  {{title}}
</h1>
<div class="container">

  <div style="text-align:center">
    <h3>
      FORMULARIOS
    </h3>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/inicio" routerLinkActive="active-link">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/contacto" routerLinkActive="active-link">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/contac" routerLinkActive="active-link">Contacto 2</a>
    </li>
  </ul>

  <!-- PONGO ESTO para poder utilizar las Rutas -->
  <router-outlet></router-outlet>
  
  </div>

